.mapouter{
    position: absolute;
    width: 1000px;
    height: 400px;
}
#location{
    background-color: goldenrod;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}